@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #050818;
  color: white;
  font-family: system-ui, -apple-system, sans-serif;
}

canvas {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
